<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>LinkSnap - Home</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body class="app">
    <h1>LinkSnap: URLs Shortner</h1>
    <div class="form">
      <form action="/shorten" method="post">
        <input
          type="text"
          name="url"
          id="url"
          placeholder="Long Url..."
          required
        />
        <button>Shorten</button>
      </form>
      <% if(messages && messages.error){ %>
      <p class="error"><%= messages.error %></p>
      <% } else if(messages && messages.success){ %>
      <p class="success"><%= messages.success %></p>
      <% } else { %>
      <p>Enter long url to generate short url.</p>
      <% } %>
    </div>
    <div class="analytics">
      <h2>Urls Analytics</h2>
      <ul>
        <li>
          <span>Total Urls:</span>
          <span><%= urlsAnalytics.totalUrls %></span>
        </li>
        <li>
          <span>Total Clicks:</span>
          <span><%= urlsAnalytics.totalClicks %></span>
        </li>
        <li>
          <span>Weekly Clicks:</span>
          <span><%= urlsAnalytics.weeklyClicks %></span>
        </li>
        <li>
          <span>Daily Clicks:</span>
          <span><%= urlsAnalytics.dailyClicks %></span>
        </li>
      </ul>
    </div>

    <div class="urls">
      <h2>Your Urls</h2>
      <ul>
        <% if(urls.length > 0){ urls.forEach(function (url){ %>
        <li>
          <p>
            <span>Short Url:</span>
            <a href="<%= url.shortUrl %>" target="_blank"><%=url.shortUrl %></a>
          </p>
          <p>
            <span>Url:</span>
            <a href="<%= url.url %>" target="_blank"><%=url.url %></a>
          </p>
          <p>
            <span>Total Clicks</span>
            <span><%= url.clicks %></span>
          </p>
          <p>
            <span>Created</span>
            <span><%= new Date(url.createdAt).toLocaleString() %></span>
          </p>
        </li>
        <% })} else{ %>
        <li class="note">No Url Found</li>
        <% } %>
      </ul>
    </div>
  </body>
</html>
