<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= pageTitle %></title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <%- include("../partials/header") %>
    <main>
      <form action="/shorten" method="post">
        <input
          class="input"
          type="url"
          name="url"
          placeholder="Enter URL..."
          required
        />
        <button class="button">Shorten</button>
      </form>

      <div class="alert">
        <% if(data.success){ %>
        <p class="alert-success"><%= data.success %></p>
        <% } else if(data.error){ %>
        <p class="alert-error"><%= data.error %></p>
        <% } %>
      </div>

      <div class="card-layout">
        <% if(data.urls && data.urls.length > 0){ %> 
        <% data.urls.forEach(function (url){ %>
        <div class="card">
          <a href="<%= url.shortUrl %>" class="shortUrl">
            <%= url.shortUrl %>
          </a>
          <a href="<%= url.originalUrl %>"> <%= url.originalUrl %> </a>
          <ul>
            <li>
              <span>Short Code</span>
              <span><%= url.shortCode %></span>
            </li>
            <li>
              <span>Created</span>
              <span><%= url.createdAt %></span>
            </li>
            <li>
              <span>Expires</span>
              <span><%= url.expiresAt %></span>
            </li>
          </ul>
          <a href="<%= '/details/' + url.shortCode %>"> Details </a>
        </div>
        <% })} %>
      </div>
    </main>
    <%- include("../partials/footer") %>
  </body>
</html>
