<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= "LinkSnap - " + route %></title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <%- include('../partials/header') %>
    <main>
      <div class="url-form">
        <form action="/shorten" method="post">
          <input type="url" name="url" required />
          <button>shorten</button>
        </form>
        <div class="alert">
          <% if (success) { %>
          <p class="success"><%= success %></p>
          <% } if (error) { %>
          <p class="error"><%= error %></p>
          <% } %>
        </div>
      </div>
      <div class="urls">
        <% if(urls && urls.length > 0){ urls.forEach(function(url){ %>
        <div class="url-card">
          <div class="card-header">
            <a href="<%= url.shortUrl %>" target="_blank" class="short-link">
              <%= url.shortUrl %>
            </a>
            <span
              class="short-link-status <%= url.isActive ? 'active' : 'inActive' %>"
              >Active</span
            >
          </div>
          <p class="original-url"><%= url.originalUrl %></p>
          <div class="card-stats">
            <p>
              <strong>Total Clicks</strong>
              <span> <%= url.totalClicks %> </span>
            </p>
            <p>
              <strong>Created</strong>
              <span> <%= new Date(url.createdAt).toLocaleString() %> </span>
            </p>
            <p>
              <strong>Expires</strong>
              <span><%= new Date(url.expiresAt).toLocaleString() %></span>
            </p>
          </div>
          <a href="<%= '/details/'+url.shortCode %>" class="detail-link">
            Details
          </a>
        </div>
        <% })} else{ %>
        <div class="note">No urls found</div>
        <% } %>
      </div>
    </main>
    <%- include('../partials/footer') %>
  </body>
</html>
