<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= pageTitle %></title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <%- include("../partials/header") %>
    <main>
      <h1><%= data.url.shortUrl + " URL Details" %></h1>
      <div class="url-section">
        <a href="<%= data.url.originalUrl %>" class="original-url">
          <%= data.url.originalUrl %>
        </a>
        <span class="status-badge status-active">
          <%= data.url.isActive %>
        </span>
      </div>
      <ul class="details-list">
        <li>
          <span>Short Code</span>
          <span><%= data.url.shortCode %></span>
        </li>
        <li>
          <span>created</span>
          <span class="date-value"><%= data.url.createdAt %></span>
        </li>
        <li>
          <span>Expires</span>
          <span class="date-value"><%= data.url.expiresAt %></span>
        </li>
        <li>
          <span>Unique IPs</span>
          <span class="metric-highlight" class="date-value"
            ><%= data.url.uniqueIps %></span
          >
        </li>
        <li>
          <span>Last Click</span>
          <span class="date-value"><%= data.url.lastClick %></span>
        </li>
        <li>
          <span>First Click</span>
          <span class="date-value"><%= data.url.firstClick %></span>
        </li>
      </ul>
    </main>
    <%- include("../partials/footer") %>
  </body>
</html>
