<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>LinkSnap - Urls</title>
    <link rel="stylesheet" href="/base.css" />
  </head>
  <body>
    <%- include("../partials/header") %>
    <main class="urls">
      <h2>All Yours Shorten URLs</h2>
      <ul>
        <% if(data.length > 0){ data.forEach(function(url){ %>
        <li>
          <p>
            Original Url:
            <a href="<%= url.originalUrl %>"><%= url.originalUrl %></a>
          </p>
          <p>
            Short Url:
            <a href="<%= url.shortUrl %>"><%= url.shortUrl %></a>
          </p>
          <p>
            Active:
            <span><%= url.isActive %></span>
          </p>
          <p>
            Expiry:
            <span><%= url.expirsAt %></span>
          </p>
          <p>
            Created:
            <span><%= url.createdAt %></span>
          </p>
          <p>
            Updated:
            <span><%= url.updatedAt %></span>
          </p>
          <p>
            TotalClicks:
            <span><%= url.totalClicks %></span>
          </p>
          <p class="controlls">
            <a href="<%= '/details/'+url.shortCode %>">Details</a>
          </p>
        </li>
        <% })} %>
      </ul>
    </main>
    <%- include("../partials/footer") %>
  </body>
</html>
